@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

body {
  background: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b {
  color: #45B1FF;
  border: 3px solid #45B1FF;
}
.g {
  color: #8BF62A;
  border: 3px solid #8BF62A;
}
.y {
  color: #FFCE22;
  border: 3px solid #FFCE22;
}
.p {
  color: rgb(186, 66, 255);
  border: 3px solid rgb(186, 66, 255);
}

nav {
  width: 100%;
  padding: 20px 40px 20px 20px;
  background: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
  color: rgb(150, 131, 255);
}
.heading h1 {
  font-size: 27px;
  
}

.nav-bar {
  /* border: red 2px solid; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar li {
  margin-left: 60px;
}
.nav-bar a {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
}
.nav-bar a:hover {
  color: rgb(236, 236, 236);
  border: rgb(236, 236, 236) 3px solid;
}

.banner-cont {
  margin: 50px 0;
  /* border: 3px rgb(255, 0, 0) solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 70px 40px 70px;
  color: rgb(255, 255, 255);
}

.banner {
  box-shadow: rgb(90, 90, 90) 5px 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  background: rgb(49, 49, 49);
  border-radius: 1px;
  padding: 25px 25px;
  margin-top: 20px;
  width: 620px;
}

.banner-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}
.banner-text a {
  text-decoration: none;
  color: mediumpurple;
}
.banner-text a:hover {
  color: mediumturquoise;
}

.typed {
  color: rgb(240, 240, 240);
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 12px;
  position: relative;
  height: 50px;
}

.typed::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 5px;
  height: 50px;
  background: #8BF62A;
  animation: flash 0.9s infinite;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
}

#gif {
  width: 160px;
}
#gif-m {
  display: none;
}

section {
  margin: 40px 0;
}

#projects {
  background: rgb(57, 46, 116);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px 0;
  margin-bottom: 0;
}
.projects {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-row: auto auto;
  grid-column-gap: 45px;
  grid-row-gap: 50px;
}

.project {
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  padding: 16px 35px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.projects a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}
.project a:hover {
  color: rgb(240, 255, 24);
}

.project img {
  margin: 7px 0;
  border-radius: 3px;
}

.grey {
  height: 200px;
  /* width: 330px; */
  background: rgb(3, 3, 3);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px 70px 0 70px;
}

.about-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-contents img {
  margin-right: 30px;
  object-fit: cover;
  width: 270px;
  height: 270px;
  margin-bottom: 20px;
  filter: contrast(1.1);
  clip-path: polygon(
    0px 30px,
    15px 30px,
    15px 15px,
    30px 15px,
    30px 0px,
    calc(100% - 30px) 0px,
    calc(100% - 30px) 15px,
    calc(100% - 15px) 15px,
    calc(100% - 15px) 30px,
    100% 30px,
    100% calc(100% - 30px),
    calc(100% - 15px) calc(100% - 30px),
    calc(100% - 15px) calc(100% - 15px),
    calc(100% - 30px) calc(100% - 15px),
    calc(100% - 30px) 100%,
    30px 100%,
    30px calc(100% - 15px),
    15px calc(100% - 15px),
    15px calc(100% - 30px),
    0px calc(100% - 30px)
  );
}

#skills {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  margin: 0;
  padding: 30px 0;
  background: rgb(10, 10, 10);
  width: 100%;
}

.skills-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px 20px;
}

.skill {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill i {
  border: none;
  margin-top: 20px;
}

footer {
  width: 100%;
  background: rgb(26, 26, 26);
  padding: 10px 10px 0 10px;
  margin-top: 20px;
  text-align: center;
}

.wiggle {
  padding: 3px;
  display: inline-block;
  /* text-decoration: none; */
  color: #FFCE22;
  transform: translateY(-3px);
  animation: wiggle 2.2s infinite ease;
}
.wiggle:hover {
  color: mediumslateblue;
}

@keyframes wiggle {
  /* 10% {
    transform: rotate(10deg);
}   20% {
    transform: rotate(-10deg);
}   30% {
    transform: rotate(4deg);
}  40% {
    transform: rotate(0deg);
} */
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.footer-cont {
  text-align: center;
  margin: 20px;
  padding: 20px 0;
}

.footer-cont i {
  font-size: 40px;
  margin: 2px 16px;
}
.footer-cont i:hover {
  color: rgb(236, 236, 236);
}

.twtr {
  color: #45B1FF;
}
.gh {
  color: #8BF62A;
}
.cp {
  color: rgb(171, 45, 245);
}

.copyright {
  color: rgb(129, 129, 129);
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 22px 4px 10px 4px;
  }
  .heading {
    text-align: left;
  }
  .nav-bar {
    padding: 10px 0;
    margin-top: 16px;
    justify-content: space-around;
  }
  .nav-bar li {
    margin: 0 15px;
  }
  .nav-bar a {
    margin: 0;
  }
  .banner-cont {
    padding: 30px;
    margin-top: 10px;
  }
  .banner {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .banner-text {
    align-items: center;
    text-align: center;
    width: 95%;
  }
  .typed {
    font-size: 30px;
  }
  .typed::after {
    height: 25px;
  }
  #gif {
    display: none;
  }
  #gif-m {
    display: inline;
    width: 165px;
  }
  .projects {
    grid-template-columns: 350px;
  }
  #about {
    padding: 10px 10px;
  }

  .about-contents {
    flex-direction: column;
    width: 95%;
  }
  .about-contents img {
    margin-right: 0;
  }
}

@media screen and (max-width: 368px) {
  .nav-bar a {
    font-size: 14px;
  }
  .typed {
    margin-top: 50px;
    padding: 0;
    font-size: 30px;
  }
  .banner-cont {
    padding: 0px 15px 20px 15px;
  }
  .banner {
    padding: 20px 7px 20px 7px;
    margin: 0;
  }
  .projects {
    grid-template-columns: 290px;
  }
  .about-contents,
  .project {
    text-align: center;
  }
  .about-contents img {
    height: 220px;
    width: 220px;
    filter: contrast(1);
  }
}
