* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

body {
    background: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b {
    color: rgb(51, 173, 255);
    border: 3px solid rgb(51, 173, 255);
  }
  .g {
    color: rgb(79, 255, 93);
    border: 3px solid rgb(79, 255, 93);
  }
  .y {
    color: rgb(255, 242, 58);
    border: 3px solid rgb(255, 242, 58);
  }
  .p {
    color: rgb(186, 66, 255);
    border: 3px solid rgb(186, 66, 255);
  }

nav {
  width: 100%;
  padding: 20px 40px 20px 20px;
  background: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
}

.heading {
    display: flex;
    align-items: center;
    color: rgb(150, 131, 255);
  }
  .heading h1 {
    font-size: 27px;
    
  }

.nav-bar {
  /* border: red 2px solid; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar li {
  margin-left: 60px;
}
.nav-bar a {
  text-decoration: none;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 50px;
}
.nav-bar a:hover {
  color: rgb(236, 236, 236);
  border: rgb(236, 236, 236) 3px solid;
}

.my-message {
    background: rgb(37, 37, 37);
  box-shadow: rgb(53, 53, 53) 5px 5px;
  border-radius: 3px;
  color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  margin-top: 20px;
  max-width: 450px;
}
.my-message img {
  width: 150px;
}

.homepage {
  margin-top: 30px;
  color: yellow;
  border: 2px solid yellow;
  padding: 3px 10px;
  border-radius: 50px;
  text-decoration: none;
}
.homepage:hover {
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
}

footer {
  width: 100%;
  background: rgb(20, 20, 20);
  padding: 30px 10px 0 10px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.footer-cont {
  text-align: center;
  margin: 20px;
  padding: 10px 0;
}

.footer-cont i {
  font-size: 27px;
  margin: 2px 16px;
}
.footer-cont i:hover {
  color: rgb(236, 236, 236);
}

.twtr {
  color: rgb(20, 161, 255);
}
.gh {
  color: rgb(16, 233, 52);
}
.cp {
  color: rgb(154, 12, 236);
}

.copyright {
  color: rgb(129, 129, 129);
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 22px 4px 10px 4px;
  }
  .nav-bar {
    padding: 10px 0;
    margin-top: 16px;
    justify-content: space-around;
  }
  .nav-bar li {
    margin: 0 15px;
  }
  .nav-bar a {
    margin: 0;
  }
  .my-message {
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 368px) {
  .nav-bar a {
    font-size: 14px;
  }
  .my-message img {
    width: 130px;
  }
}
